h1 {
  font-family: "PokemonTitle";
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #ffcb05;
  -webkit-text-stroke: 1px #2a75bb;
}

.game-mode-selection {
  margin-top: 2rem;
  display: grid;
  gap: 0.5rem;
}

.game-mode-selection-button {
  width: 50%;
  margin: auto;
  padding: 1rem 01rem;
  font-family: "PokemonClassic";
  font-size: 0.75rem;
  border-radius: 5px;
  background-color: rgb(250, 207, 207);
  border: 1px solid black;
}
